# Ignore VSCode settings folder
.vscode/

__pycache__/
*.pyc
*.pyo
.env
.venv/
.DS_Store
.pytest_cache/

# Ignore all .log files
*.log
automation-demos/automation-logs/*
automation-demos/automation-logs/

automation-demos/screenshots/*
automation-demos/screenshots/


# Ignore build directories
/build/
/dist/
/node_modules/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Allure results and reports
allure-results/
allure-report/
automation-demos/allure-report
automation-demos/allure-results

# Ignore Python virtual environment
.env
.venv/

