# Ignore all .log files
*.log

# Ignore build directories
/build/
/dist/
/node_modules/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Allure results and reports
allure-results/
allure-report/
automation-demos/allure-report
automation-demos/allure-results

# Ignore environment variables
.env
